/* src/SpinningImage.css */
.loader{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* styles.css */
.outer {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    border-radius: 50%;
    position: relative;
    animation: spin 4s linear infinite;
}

.inner {
    width: 100px;
    height: 100px;
    background-color: #2ecc71;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
