.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .outer{
    width: 380px;
  }
  .outer img{
    width: 380px;
  }
