.my-cont {
  padding: 0px 120px;
  background-image: url("./bg2.jpg");
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 36.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
