.hero {
  padding: 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: url("./bg2.jpg");
  padding-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  .hero {
    padding: 90px 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 540px) {
  .hero {
    padding: 90px 50px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    padding: 110px 30px;
    padding-bottom: 30px;
  }
}
.hero h3 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 27px;
  color: gray;
  color: #8bb0e3;
}
.hero h5 {
  text-align: left;
  font-family: "Playwrite DE Grund", cursive;
  color: grey;
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .hero h3 {
    font-size: 28px;
  }
}
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width: 540px) {
  .home {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
.home .content {
  background-color: whitesmoke;
  height: 390px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
@media screen and (max-width: 1024px) {
  .hero .content {
    height: 490px;
  }
}
@media screen and (max-width: 540px) {
  .hero .content {
    height: 460px;
  }
  .hero .content:nth-child(2) {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 540px) {
  .hero .content {
    height: 460px;
  }
  .hero .content:nth-child(4) {
    flex-direction: column-reverse;
  }
}

.home .content .top {
  height: 63%;
  background-color: transparent;
}
.home .content .top img {
  height: 100%;
  width: 100%;
}
.home .content .lower {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home .content .lower h6 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: grey;
  color: #8bb0e3;
}
.home .content .lower p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: grey;
  line-height: 1.3;
  font-size: 17px;
}
.home .content .lower li {
  display: flex;
  gap: 2px;
  font-family: "Kanit", sans-serif;
  align-items: center;
  color: #8bb0e3;
  font-family: "Lato", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  position: relative;
  width: fit-content;
}
.home .content .lower li:hover{
  color: grey;
}
.home .content .lower li::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: grey;
  bottom: -2px;
  left: 0;
}
@media screen and (max-width: 540px) {
  .home .content .lower p {
    font-size: 20px;
  }
}
.arrows {
  width: 25px;
}
