.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 120px;
  background-image: url("./geo1.jpg");
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 1000;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0px 40px;
  }
}
@media screen and (max-width: 760px) {
  .container {
    display: none;
  }
}
.container .logo img {
  height: 80px;
}
.container ul {
  display: flex;
  gap: 55px;
}
.container ul a {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  color: #8bb0e3;
  color: grey;
  font-size: 18px;
  padding: 30px 12px;
  position: relative;
  font-weight: 800;
}

.container ul a:not(.services ul a)::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #0066b2;
  bottom: -2px;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.container ul a:hover:not(.services)::after {
  width: 100%;
}
.container ul .active {
  color: #0066b2;
  font-weight: bold;
}
.services {
  position: relative;
}
.services:hover {
  color: #0066b2;
}
.services:hover.services ul {
  display: flex;
}
.services ul {
  position: absolute;
  gap: 0px;
  display: flex;
  flex-direction: column;
  width: 350px;
  background-image: url("./bg2.jpg");
  margin-top: 30px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 1000;
}
.services ul a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  padding: 15px 12px;
  border-top: 1px solid #8bb0e3;
  font-weight: normal;
}
.services ul a:hover {
  background-color: #8bb0e3;
}
.logo img {
  height: 78px;
}

@media screen and (min-width: 760px) {
  .container-small {
    display: none;
  }
}

.container-small {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.container-small .top {
  height: 70px;
  background-image: url("./geo1.jpg");
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 0px 50px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-small .top img {
  height: 50px;
}
.container-small .top .my-logo {
  height: 60px;
}
.container-small .menu-content {
  overflow: hidden;
  height: 0;
  transition: 0.2s ease-out;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-bottom: 2px solid #8bb0e3;
  z-index: 1000;
  background-image: url("./geo1.jpg");
}
.container-small .menu-content.visible {
  height: max-content;
  padding-bottom: 20px;
}
.container-small .menu-content a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: grey;
  padding: 10px;
}
.container-small .menu-content .active {
  color: #0066b2;
  font-weight: bold;
}
.container-small .services div {
  position: relative;
  gap: 5px;
  display: flex;
  display: none;
  flex-direction: column;
  padding-bottom: 0px;
  margin-bottom: -23px;
  margin-top: 8px;
  padding-left: 25px;
}
.container-small .services div a {
  font-family: "Josefin Sans", sans-serif;
}
.container-small .services:hover div {
  display: flex;
}