.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  background-image: url("./l.jpg");
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 1000;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0px 40px;
  }
}
@media screen and (max-width: 760px) {
  .container {
    display: none;
  }
}
.container .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .logo a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}
.container .logo .logo-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.container .logo p {
  opacity: 0.6;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}
.container .logo h6 {
  font-family: "Roboto", sans-serif;
  color: rgb(78, 139, 218);
  font-size: 25px;
  font-weight: 900;
}
.container .logo img {
  height: 50px;
  width: 66px;
}
.container ul {
  display: flex;
  gap: 55px;
  list-style: none;
}
.container ul li a {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  color: #8bb0e3;
  color: grey;
  font-size: 18px;
  position: relative;
  font-weight: 800;
}
.container ul li {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  color: #8bb0e3;
  color: grey;
  font-size: 18px;
  padding: 30px 12px;
  position: relative;
  font-weight: 800;
  cursor: pointer;
}
.container ul li a:not(.services ul li a)::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #0066b2;
  bottom: -2px;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.container ul li a:hover:not(.services)::after {
  width: 100%;
}
.container ul li .active {
  color: #0066b2;
  font-weight: bold;
}
.services {
  position: relative;
}
.services .active {
  color: #0066b2;
}
.services:hover {
  color: #0066b2;
}
.services:hover.services ul {
  display: flex;
}
.services ul {
  position: absolute;
  gap: 0px;
  display: flex;
  flex-direction: column;
  width: 350px;
  background-image: url("./bg2.jpg");
  background-image: url("./l.jpg");
  margin-top: 30px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 1000;
  list-style: none;
}
.services ul li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  border-top: 1px solid #8bb0e3;
  font-weight: normal;
  padding: 10px 12px;
}

.services ul li a {
  display: block;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-size: inherit;
  font-weight: 500;
  padding: inherit;
}

.services ul li:hover {
  background-color: #8bb0e3;
}
.logo img {
  height: 78px;
}

@media screen and (min-width: 760px) {
  .container-small {
    display: none;
  }
}

.container-small {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100vw;
}
.container-small .top {
  height: 70px;
  background-image: url("./geo1.jpg");
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  top: 0;
  left: 0;
  right: 0;
}

.container-small .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-small .logo a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}
.container-small .logo .logo-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.container-small .logo p {
  opacity: 0.5;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 5px;
  font-size: 9px;
}
.container-small .logo h6 {
  font-family: "Roboto", sans-serif;
  color: rgb(78, 139, 218);
  font-size: 17px;
  font-weight: 900;
}

.container-small .top img {
  height: 40px;
}
.container-small .top .my-logo {
  height: 60px;
}
.container-small .menu-content {
  overflow: hidden;
  height: 0;
  transition: 0.2s ease-out;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-bottom: 2px solid #8bb0e3;
  z-index: 1000;
  background-image: url("./geo1.jpg");
}
.container-small .menu-content.visible {
  height: max-content;
  padding-bottom: 20px;
  padding-top: 10px;
}
.container-small .menu-content a,
.container-small .menu-content li {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: grey;
  padding: 10px;
  list-style: none;
}
.container-small .menu-content .active {
  color: #0066b2;
  font-weight: bold;
}
.container-small .services div {
  position: relative;
  gap: 5px;
  display: flex;
  display: none;
  flex-direction: column;
  padding-bottom: 0px;
  margin-bottom: -23px;
  margin-top: 8px;
  padding-left: 25px;
}
.container-small .services div a {
  font-family: "Josefin Sans", sans-serif;
  border-bottom: 0.005vw solid grey;
}
.container-small .services:hover div {
  display: flex;
}
