/*    
   font-family: "Pacifico", cursive;
   font-family: "Kanit", sans-serif;
   font-family: "Roboto Slab", serif;
   font-family: "Rowdies", sans-serif;
   font-family: "Zilla Slab", serif;
   font-family: "Lilita One", sans-serif;
   font-family: "Outfit", sans-serif;
   font-family: "Josefin Sans", sans-serif;
   font-family: "Playwrite DE Grund", cursive;
   font-family: "Oswald", sans-serif;
   font-family: "Lato", sans-serif;
*/
*{
   box-sizing: border-box;
}