.hire {
  background-color: aliceblue;
  padding: 50px 120px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.hire .left {
  flex: 2;
  text-align: right;
  font-family: "Pacifico", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Rowdies", sans-serif;
  font-family: "Zilla Slab", serif;
  font-family: "Lilita One", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
}
.hire .right {
  flex: 3;
}
.hire .right form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hire .right form div{
    display: flex;
    gap: 20px;
}
.hire .right form input{
    width: 100%;
    height: 30px;
}
.hire .right form select{
    width: 48%;
    height: 30px;
}
.hire .right form label{
    display: flex;
    width: 50%;
}
.hire .right form textarea{
    display: flex;
    width: 100%;
    height: 120px;
    resize: none;
}
.hire .right form label{
    display: flex;
    width: 50%;
}
