.hire {
  background-image: url("./bc.jpg");
  padding: 50px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
@media screen and (max-width: 912px) {
  .hire {
    padding: 50px 10px;
  }
}
@media screen and (max-width: 770px) {
  .hire {
    padding: 50px 10px;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 540px) {
  .myBr {
    display: none;
  }
}
.hire .left {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  text-align-last: right;
  font-size: 20px;
  color: grey;
  align-items: center;
  flex: 2;
}
@media screen and (max-width: 770px) {
    .hire .left{
      text-align-last: center;
      line-height: 1.6;
    }
  }

.hire .right button  {
  text-decoration: none;
  padding: 15px 0px;
  border: 0px;
  width: 250px;
  cursor: pointer;
  background-color: #8bb0e3;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 13px;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;  
}
.hire .right button a{
  text-decoration: none;
  width: max-content;
}
.vertical-line {
  width: 1px;
  height: 100px; /* Adjust the height as needed */
  background-color: gray;
  margin: 0px 25px;
}

